@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Montserrat:wght@400;500;600;700&display=swap");

.nav_bar_main {
  width: 100vw;
  height: 75px;
  background: antiquewhite;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: space-between;
}
.nav_div {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
}
.nav_a_page {
  padding-left: 50px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  color: #444444;
}
.logo {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: bold;
}
/* emailjs.send("service_e5scbi6","template_tzji0bb",{
  user_name: "aaaa",
  user_famlyname: "aaaaa",
  user_email: "aaaa",
  user_number: "aaa",
  }); */
